

@model MilesPerGallon.Models.Car

@{
    ViewData["Title"] = "Search";
}

<h4>Car</h4>
<hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Cars" asp-action="Search">

                <div asp-validation-summary="ModelOnly" class="text-danger">

                    <div class="form-group">

                        Last Name: <input type="text" name="searchString" /><br /><br />
                        First Name: <input type="text" name="searchString" /><br /><br />
                        Car Model: <input type="text" name="searchString" /><br /><br />
                        Miles Driven: <input type="text" name="searchString" /><br /><br />
                        Gallons Filled: <input type="text" name="searchString" /><br /><br />
                    </div>
                </div>




            </form>
        </div>
    </div>